<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsj.bs.dao.TbLeaderDao">
    <!--resultMap:用来描述如何从数据库结果集中加载对象-->
    <resultMap type="com.jsj.bs.pojo.TbLeader" id="TbLeaderMap">
        <id property="leaderId" column="leader_id" jdbcType="INTEGER"/>
        <result property="leaderAccount" column="leader_account" jdbcType="VARCHAR"/>
        <result property="leaderPassword" column="leader_password" jdbcType="VARCHAR"/>
        <result property="leaderName" column="leader_name" jdbcType="VARCHAR"/>
        <result property="leaderLocked" column="leader_locked" jdbcType="BOOLEAN"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
    </resultMap>
    <!--sql:可被其他语句引用的可重用语句块。可以跨Mapper引用，跨Mapper引用需要加名称空间-->
    <sql id="leaderSql">
        ${asL}.leader_id,${asL}.leader_account,${asL}.leader_password,
        ${asL}.leader_name,${asL}.leader_locked,${asL}.role_id
    </sql>

    <!--查询单个-->
    <select id="queryById" resultMap="TbLeaderMap">
        select
          <include refid="leaderSql">
              <property name="asL" value="l"/>
          </include>
        from tb_leader l
        where l.leader_id = #{leaderId}
    </select>
    <!--查询单个-->
    <select id="queryByLeaderAccount" resultMap="TbLeaderMap">
        select
        <include refid="leaderSql">
            <property name="asL" value="l"/>
        </include>
        from tb_leader l
        where l.leader_account = #{leaderAccount}
    </select>

    <!--查询审核通过 userLocked-->
    <select id="queryStatus" resultType="java.lang.Boolean">
        select
          leader_locked
        from tb_leader
        where leader_account = #{leaderAccount}
    </select>
    <!--查询id-->
    <select id="queryByLId" resultType="java.lang.Integer">
        select
          leader_id
        from tb_leader
        where leader_account = #{leaderAccount}
    </select>

    <!--登陆 queryByAccount-->
    <select id="queryByAccount" resultMap="TbLeaderMap">
        select
        <include refid="leaderSql">
            <property name="asL" value="l"/>
        </include>
        from tb_leader l
        where l.leader_account = #{leaderAccount} and l.leader_password = #{leaderPassword}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TbLeaderMap">
        select
        <include refid="leaderSql">
            <property name="asL" value="l"/>
        </include>
        from tb_leader l
        <where>
            <if test="leaderId != null">
                and l.leader_id = #{leaderId}
            </if>
            <if test="leaderAccount != null and leaderAccount != ''">
                and l.leader_account = #{leaderAccount}
            </if>
            <if test="leaderPassword != null and leaderPassword != ''">
                and l.leader_password = #{leaderPassword}
            </if>
            <if test="leaderName != null and leaderName != ''">
                and l.leader_name = #{leaderName}
            </if>
            <if test="leaderLocked != null">
                and l.leader_locked = #{leaderLocked}
            </if>
            <if test="roleId != null">
                and l.role_id = #{roleId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="leaderId" useGeneratedKeys="true">
        insert into tb_leader(leader_account, leader_password, leader_name, leader_locked, role_id)
        values (#{leaderAccount}, #{leaderPassword}, #{leaderName}, #{leaderLocked}, #{roleId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update tb_leader l
        <set>
            <if test="leaderAccount != null and leaderAccount != ''">
                l.leader_account = #{leaderAccount},
            </if>
            <if test="leaderPassword != null and leaderPassword != ''">
                l.leader_password = #{leaderPassword},
            </if>
            <if test="leaderName != null and leaderName != ''">
                l.leader_name = #{leaderName},
            </if>
            <if test="leaderLocked != null">
                l.leader_locked = #{leaderLocked},
            </if>
            <if test="roleId != null">
                l.role_id = #{roleId}
            </if>
        </set>
        where l.leader_account = #{leaderAccount}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from tb_leader where leader_id = #{leaderId}
    </delete>

</mapper>